3명 이상 친구 이름 리스트를 작성하고 다음 내용을 프로그램하시오

In [1]:
list1 = ['홍길동', '이순신', '강감찬']
list1.insert(1, '유관순')
list1.insert(3, '안중근')
list1.append('윤봉길')
print(list1)

['홍길동', '유관순', '이순신', '안중근', '강감찬', '윤봉길']

리스트 [1, 2, 3]에 대해 다음과 같은 처리를 하라.

In [3]:
list1 = [1,2,3]
list1[2] = 17
list1.extend([4,5,6])
del(list1[0])
list2=sorted(list1)
list2[3]=25
print(list2)

[2, 4, 5, 25, 17]

1. for 루프를 이용하여 다음과 같은 리스트를 생성하라.
• 0~49까지의 수로 구성되는 리스트
• 1~50까지 수의 제곱으로 구성되는 리스트

In [4]:
list1 = []
for i in range (1, 49):
    list1.append(i)
list2 = []
for i in range (1, 50):
    list2.append(i**2)

print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

2. 크기가 같은 두 개의 리스트 L, M을 생성하고 두 리스트의 각 요소 합으로 구성되는 새로운 리스
트를 생성하라. 예를 들어 L=[1,2,3]이고 M=[4,5,6]이면 [5,7,9]인 리스트 생성

In [6]:
L = [1, 2, 3]
M = [4, 5, 6]
list = [a+b for a,b in zip(L,M)]
print(list)

[5, 7, 9]