1. 키보드에서 임의의 두 실수를 입력 받아 곱한 후 그 결과를 출력하는 프로그램을 작성하고 실행
하라

In [ ]:
a, b = map(float, input('임의의 두 실수를 입력하여주세요(예: 3.2 4.5): ').split())
print(a * b)

# map .split() 검색참고

SyntaxError: invalid syntax (3062963698.py, line 4)

2. 1마일은 1.609km이다. 키보드에서 마일(정수)을 입력 받아 km로 변환해 출력하는 프로그램을
작성하고 실행하라

In [10]:
mile = int(input('마일을 입력해주세요.:'))
km = 1.609*mile

print(km)

8.045

3. 원의 반지름을 입력 받아 원의 둘레와 원의 면적을 출력하는 프로그램을 작성하라

In [12]:
r = input('반지름을 입력해주세요')
print("원의 둘레:", 2*3.14*int(r))
print("원의 넓이:", 3.14*int(r)**2)

원의 둘레: 25.12
원의 넓이: 50.24

1. 5와 3을 더한 값을 출력하는 프로그램을 작성하라.

In [13]:
print(5+3)

8

2. 7에서 3을 뺀 값을 출력하는 프로그램을 작성하라.

In [14]:
print(7-3)

4

3. 4를 2로 나눈 값을 출력하는 프로그램을 작성하라.

In [15]:
print(4/2)

2.0

4. 8을 3으로 나눈 몫과 나머지를 출력하는 프로그램을 작성하라

In [ ]:
print(8//3, 8%3)

2.6666666666666665 2

5. 2의 5제곱을 출력하는 프로그램을 작성하라.

In [19]:
print(2**5)

32

6. 입력된 정수가 10보다 크고 20보다 작은지 검사하는 프로그램을 작성하라.

In [20]:
a=int(input('정수를 입력해주세요.:'))
b=10<a<20
print(b)

True

7. 문자열 "hello"와 문자열 "world"를 이어 붙인 결과를 출력하는 프로그램을 작성하라.

In [21]:
a='hello'
b='world'
print(a+' '+b)

hello world

8. 7을 2로 나눈 결과가 3보다 작은지 검사하는 프로그램을 작성하라.

In [23]:
a=7/2
b=a<3
print(b)

False

9. 변수 x의 값이 5와 같지 않은지 검사하는 프로그램을 작성하라.

In [26]:
x = int(input("x 값을 입력하세요: "))
print(x!=5)

True

10. 변수 y의 값이 10에서 20 사이의 값인지 검사하는 프로그램을 작성하라

In [27]:
y = int(input("y 값을 입력하세요: "))
print(10<y<20)

True

1. 5가 3보다 크고 7보다 작은지 검사하는 프로그램을 작성하라.

In [28]:
print(3<5<7)

True

2. 변수 x가 10 이상이고 20 이하인지 검사하는 프로그램을 작성하라.

In [29]:
x= int(input("x 값을 입력하세요: "))
print(10<=x<=20)

True

3. 변수 y가 5의 배수이거나 7의 배수인지 검사하는 프로그램을 작성하라.

In [31]:
y=int(input('정수를 입력해주세요.:'))
print(y%5==0 or y%7==0)

True

4. 변수 z가 양수이면서 짝수인지 검사하는 프로그램을 작성하라.

In [33]:
z=int(input('정수를 입력해주세요.:'))
print(z%2==0 and z>0)

False

5. 변수 a가 문자열 "hello"나 문자열 "world" 중 하나인지 검사하는 프로그램을 작성하라.

In [36]:
a = str(input("문자열을 입력하세요: "))
print(a=="hello" or a=="world")

False

1. 숫자 7이 리스트 [1, 2, 3, 4, 5]에 포함되어 있는지 검사하는 프로그램을 작성하라.

In [37]:
list1 = [1,2,3,4,5]
print('7' in list1)

False

2. 문자열 "apple"이 세트 {"orange", "banana", "kiwi"}에 포함되어 있는지 검사하는 프로
그램을 작성하라.

In [38]:
list1 = ["orange", "banana", "kiwi"]
print("apple" in list1)

False

3. 숫자 6이 딕셔너리 {"a": 1, "b": 2, "c": 3, "d": 4}의 값들 중 하나인지 검사하는 프로그램을
작성하라

In [39]:
dict1 = {'a':1, 'b':2, 'c':3, 'd':4}
print('6' in dict1)

False

4. 문자열 "cat"이 튜플 ("dog", "cat", "bird", "hamster")에 포함되어 있는지 검사하는 프로
그램을 작성하라.

In [40]:
tuple1 = ("dog", "cat", "bird", "hamster")
print("cat" in tuple1)

True

5. 숫자 10이 세트 {2, 4, 6, 8, 10}에 포함되어 있는지 검사하는 프로그램을 작성하라.

In [41]:
set = {2, 4, 6, 8, 10}
print(10 in set)

True

1. 초를 입력하면 분과 초로 표시하는 프로그램. 예를 들어, 200초를 입력하면 3분 20초로 표현하
라

In [42]:
sec= int(input("초 단위의 시간을 입력하세요: "))
minutes = sec // 60
seconds = sec % 60
print(minutes, "분", seconds, "초")

3 분 20 초

2. 분(min)을 입력 하면, 일, 시간, 분으로 출력하는 프로그램을 만들어라. (예 : 1550분은 1일 1
시간 50분)

In [44]:
min = int(input("분 단위의 시간을 입력하세요: "))
day = min // (24*60)
hour = min % (24*60) // 60
minutes = min % 60
print(day, "일", hour, "시간", minutes, "분")

1 일 1 시간 50 분

3. 500만원을 년이율 5%로 복리 저금했을 때 5년 후의 원리금의 합계를 출력하는 프로그램

In [45]:
year = 5
money = 5000000
print(money*(1+0.05)**year)

6381407.812500002

4. 1부터 n까지의 합은 n(n+1)/2로 주어진다. 1부터 100까지의 합을 구하여 출력하는 프로그램을
작성하고 실행하라.

In [51]:
n = int(input("정수를 입력하세요: "))
print(n*(n+1)/2)

5050.0

5. 판매자가 딸기와 포도를 판매하고 있다. 포도 한 알의 무게는 75g이고 딸기 한 알의 무게는
113.5g이다. 사용자로부터 포도 알의 개수와 딸기의 개수를 입력 받아 총 무게를 계산하여 출력
하는 프로그램을 작성하고 실행하라.

In [52]:
gra = int(input("포도의 개수를 입력하세요: "))
straw = int(input("딸기의 개수를 입력하세요: "))
print(gra*75+straw*113.5, "g")

490.5 g