>>> print(10+20)
30
>>> print("동양미래대학교")
동양미래대학교
>>> print("abc"*3)
abcabcabc
>>> x=25
>>> y=32
>>> z=x+y
>>> print(x,y) 
25 32
>>> print(x,'+',y,'=',z)
25 + 32 = 57

>>> n=10
>>> print("n=%d" %n) 
n=10
>>> m = 5.2
>>> print("m=%.1f, n=%d" %(m,n))
m=5.2, n=10

In [ ]:
>>> n=input('type a number: ')
type a number: 3
>>> int(n)
3
>>> float(n)
3.0
>>> n=str(3)
>>> n
'3'

In [ ]:
>>> name=input('Name: ')
Name: CHO
>>> print("Hello,"+name)
Hello,CHO

>>> aVar =True
>>> bVar = False
>>> type(aVar)
<class 'bool'>
>>> a=1
>>> b=2
>>> c=a>b
>>> c
False
>>> d=a<b
>>> d
True